.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, 
.footer-content-right, 
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li, 
.footer-content-right li, 
.footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right h2, 
.footer-content-center h2 {
    color: white;
}

/* 🔥 UPDATED SOCIAL ICONS */
.footer-social-icons {
    display: flex;
    gap: 12px;
}

.footer-social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* hover effect */
.footer-social-icons a:hover {
    background: rgb(255, 89, 0);
    border-color: rgba(255, 128, 0, 0.871);
}

/* icon size + color fix */
.footer-social-icons img{
    width: 20px;
    height: 20px;
    object-fit: contain;

    filter: brightness(0) invert(1);
}

/* line */
.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

.footer a{
  color: inherit;
  text-decoration: none;
}

.footer a:hover{
  color: rgb(255, 114, 71);
}

.footer-social-icons a:hover {
    transform: scale(1.1);
}

/* responsive */
@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}